@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
:root {
    --Primaire: #007BFF;
    --fond-page: #F8F9FA;
    --secondaires: #28A745;
    --gris-fonce: #CBD5E1;
    --gray-100: #F4F4F5;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
}

a {
    text-decoration: none;

}
.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background-image: url("../images/event-back.svg") no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section h1 {
    color: white;
    font-size: 3em;
    z-index: 1;
}

.social-links {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.social-link {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    margin-left: 20vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

}
label {
   float: left;
    color: var(--GRis-fonc, #343A40);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
}
.right-section h2 {
    margin-left: -20vh;
    margin-bottom: 1em;
    color: #007bff;
}

.login-form input {
    width: 60vh;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid  #343A40;
    background: #F8F9FA;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.login-form button {
    color:#F8F9FA;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
    display: flex;
    padding: 17px 20px;
    justify-content: space-between;
    flex: 1 0 0;
    width: 65vh;
    border-radius: 8px;
    border: 1px solid #007BFF;
    background:#007BFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.link-register{
    margin-top: 10px;
    color:#007BFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.16px;
    text-align: center;
    margin-left: -10vh;
}
