/* https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" */

.iconBx ion-icon {
    font-size: 2em;
}

.card-title {
    font-size: 2em;
}

.custom-table th, .custom-table td {
    text-align: left;
}

/* button{ */
/* color: green;} */
/* .btn btn-success{
color: green;} */

@media (max-width: 768px) {
    .card-title {
        font-size: 1.5em;
    }

    .custom-table th, .custom-table td {
        padding: 8px;
    }

    .btn-primary {
        width: 100%;
        text-align: center;
    }

}

